<div class="dashboard-container" data-controller="drag-and-drop" data-drag-url="/sections/:id/move">
  <% @dashboard.sections.each do |section| %>
    <div class="section <%= 'lg' if section.position == @dashboard.sections.order(position: :asc).last.position %>" draggable="true" data-target="drag-and-drop.id" data-id="<%= section.id %>" data-position="<%= section.position %>"=>
      id is <%= section.id %>
      <br>
      position is <%= section.position %>
    </div>
  <% end %>
</div>

<style>
  .dashboard-container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
  }
  .section {
    width: 50%;
  }
  .section.lg {
    width: 100%;
  }
</style>
